<div style="height:500px" ng-controller="RecommendationsCtrl as recommendationsCtrl">
  Recommendations

  <input id="rec_search" type="search" placeholder="Search"><span id="rec_resultCount">0</span> results
  <!-- <button id="next" ng-click="recommendationsCtrl.next()">next</button>
  <button id="previous" ng-click="recommendationsCtrl.previous()">previous</button> -->

  <div id="rec-grid-sizing-container" cc-handsontable-container style="position:relative;">
    <div id="rec-edit" style="overflow:scroll; visibility:hidden; padding-bottom:200px" class="handsontable"></div>
  </div>
  <span id="ruler" style="visibility:hidden; white-space: nowrap"></span>

</div>
