<div ng-class="{'draft-background': scheduleCtrl.isNotLocked}" id="schedule-page" ng-controller="ScheduleCtrl as scheduleCtrl" class="exact_print">
  <H3 class="underline center p1 small"> RECORDS RETENTION AND DESTRUCTION SCHEDULE</H3>
    <section data-ui-component="department-info">
      <table class="m3" style="table-layout:fixed">
        <tbody>
          <tr>
            <td class="small" colspan="2" >
              <span class="bold" ng-if="scheduleCtrl.draft.department">Department Name:</span>
              {{scheduleCtrl.draft.department}}
            </td>
            <td >
              <span class="bold small" ng-if="scheduleCtrl.draft.website">Department Website:</span>
              {{scheduleCtrl.draft.website}}
            </td>
          </tr>
          <tr>
            <td class="small">
              <span class="bold" ng-if="scheduleCtrl.draft.contact">Department Contact:</span>
              {{scheduleCtrl.draft.contact}}
            </td>
            <td  class="small">
              <span class="bold p2" ng-if="scheduleCtrl.draft.phone">Contact Phone Number:</span>
              {{scheduleCtrl.draft.phone}}
            </td>
            <td class="small">
              <span class="bold"  ng-if="scheduleCtrl.draft.email">Contact Email Address:</span>
              {{scheduleCtrl.draft.email}}
            </td>
          </tr>
        </tbody>
      </table>
    </section>


    <section data-ui-component="schedule-info">
      <table class="grey-border">
          <tr>
            <td class="tiny p1">Division</td>
            <td class="tiny p1">Division Contact</td>
            <td class="tiny p1">Record Category</td>
            <td class="tiny p1">Record Title/ Description</td>
            <td class="tiny p1">Document Link</td>
            <td class="tiny p1">Retention Category</td>
            <td colspan="3" class="center tiny p1">Retention Period</td>
            <td class="tiny p1">Remarks</td>
          </tr>
          <tr class="grey-background">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="tiny">Total</td>
            <td class="tiny">On-site</td>
            <td class="tiny">Off-site</td>
            <td></td>
          </tr>
          <tr ng-repeat="record in scheduleCtrl.draft.record | orderBy:['division','category']"  ng-class-even="'grey-bar'" ng-class="'grey-border'">
            <td class="grey-border tiny p1">{{record.division}}</td>
            <td class="grey-border tiny p1">{{record.division_contact}}</td>
            <td class="grey-border tiny p1">{{record.category}}</td>
            <td class="grey-border tiny p1">{{record.title}}</td>
            <td class="grey-border tiny p1">{{record.link}}</td>
            <td class="grey-border tiny p1">{{record.retention}}</td>
            <td class="grey-border tiny p1">{{record.total}}</td>
            <td class="grey-border tiny p1">{{record.on_site}}</td>
            <td class="grey-border tiny p1">{{record.off_site}}</td>
            <td class="grey-border tiny p1">{{record.remarks}}</td>
          </tr>
      </table>

    </section>

    <section data-ui-component="signature-blocks">
    <h3 class="small center bold m2" style="page-break-before:always;"> RECORDS RETENTION AND DESTRUCTION POLICY AND SCHEDULE SIGNATURE PAGE</h3>
    <div class="center px15 m3" >Submit your Policy with the Schedule and signture page attached at the end.
    Secure the signatures below, as appropriate, and deliver to: Office of the City Administrator, City Hall Room 362, Attention: Index to Records.</div>

    <!----------- DEPARTMENT NAME ------------->
    <table class="mb3" style="table-layout:auto">
      <tr>
        <td style="width:13%">
          <div>Name of Department:</div>
        </td>
         <td class="border-bottom" style="width:32%"></td>
        <td style="width:55%">
        </td>
      </tr>
    </table>

    <!----------- COMMISSION RELATED SIGNATURES ------------->
    <table class="mb3" style="table-layout:auto">
      <tr>
        <td class="p2-bottom" style="width:40%">
          <div>For departments that do not have a board or commission: </div>
        </td>
	       <td style="width:10%"></td>
        <td style="width:40%">
          <div>For departments that have a board or commission: </div>
        </td>
	       <td style="width:10%"></td>
      </tr>
      <tr>
        <td>
          <div class="border-top mt3 mr2 tiny">Steve Kawa, Mayor's Chief of Staff</div>
        </td>
        <td style="width:10%">
          <div class="border-top mt3 mr2 tiny">Date Approved</div>
        </td>
        <td>
          <div class="border-top mt3 mr2 tiny">Commission Secretary name and signature</div>
        </td>
        <td style="width:10%">
          <div class="border-top mt3 mr2 tiny">Date Approved</div>
        </td>
      </tr>
    </table>

    <!----------- ALL DEPARTMENTS ------------->
    <div class="bold center mb2">ALL DEPARTMENTS</div>

    <!----- department name ----->
    <table class="mb3" style="table-layout:auto">
      <tr>
        <td style="width:25%">
          <div class="right-align">Department Head name and signature:</div>
        </td>
        <td class="border-bottom" style="width:25%"></td>
        <td style="width:10%">
          <div class="right-align">Date Approved:</div>
        </td>
        <td class="border-bottom" style="width:20%"></td>
        <td class="width:20% white-text">.</td>
      </tr>
    </table>

    <table style="width:55%; margin-left:23%; margin-right:22%">
      <tr>
        <td colspan="2">
          <div >Approval as to Records relating to financial matters:</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="border-top mt3 mr2 tiny">Ben Rosenfield, Controller</div>
        </td>
        <td>
          <div class="border-top mt3 mr2 tiny">Date Approved</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="border-top mt3 mr2 tiny">Controller Staff (print and sign)</div>
        </td>
        <td>
          <div class="border-top mt3 mr2 tiny">Date Approved</div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="mt3">Approval as to Records of legal significance:</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="border-top mt3 mr2 tiny">Dennis J. Herrera, City Attorney</div>
        </td>
        <td>
          <div class="border-top mt3 mr2 tiny">Date Approved</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="border-top mt3 mr2 tiny">City Deputy Attorney (print and sign)</div>
        </td>
        <td>
          <div class="border-top mt3 mr2 tiny">Date Approved</div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="p2-top p2-bottom">Approval as to Records relating to payroll matters:</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="border-top mt1 mr2 tiny">Jay Huish, Executive Director -  Retirement Board</div>
        </td>
        <td>
          <div class="border-top mt1 mr2 tiny">Date Approved</div>
        </td>
      </tr>
    </table>
    </section>
  </div>
