<div id="admin-page" class="outer" ng-controller="AdminCtrl as adminCtrl">


  <div id="main-admin-menu" class="btn-group right" dropdown ng-if="adminCtrl.user">
    <button type="button" class="btn btn-default dropdown-toggle">
      {{adminCtrl.user}}<span class="fa fa-bars"></span>
    </button>
    <ul  class="dropdown-menu" role="menu">
      <li><a href="#" ng-show="adminCtrl.allowPublisher"><i class="fa fa-tachometer"></i>Dashboard</a></li>
      <li><a href="#" ng-show="adminCtrl.allowAdmin"><i class="fa fa-user"></i>All Users</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="adminCtrl.logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
    </ul>
  </div>

  <div class="admin-title">
    <div class="county">City &amp; County of San Francisco</div>
    <div class="IOR">Index <span class="small-italic">of</span> Records</div>
  </div>

  <div class="container-fluid pad0 marg0"  ui-view="admin"></div>

</div>
