<div id="edit-page">

  <div class="container-fluid" ng-controller="EditCtrl as editCtrl">

    <!-- Hidden field to convert character to pixels  -->
    <!-- <table id="ruler" style="border:solid 1px; width:auto; white-space: nowrap"><tr><td id="ruler2"></td></tr></table> -->


  <div id="edit-header" style="z-index:2; height:100px;background-color:white; width:100%">
      <div>Schedule Page</div>
      <select name="draftSelect"
              class="navBarSelect"
              ng-model="editCtrl.selected_dept"
              ng-options="depts._id as depts.draft.department for depts in editCtrl.dept_list">
      </select>

      <button ng-click="editCtrl.publish()">Publishing ...</button>
      <button ng-click="editCtrl.add()">New</button>
      <button ng-click="editCtrl.del()">Delete</button>
      <strong>{{editCtrl._id}}</strong></br>
      <strong>{{editCtrl.draft._id}}</strong></br>
      <strong>Count:</strong> {{editCtrl.records.length}}</br>
      <input name="department" ng-model="editCtrl.draft.department" ng-change="editCtrl.save()">
      <input name="website" ng-model="editCtrl.draft.website" ng-change="editCtrl.save()">
      <input name="contact" ng-model="editCtrl.draft.contact" ng-change="editCtrl.save()">
      <input name="phone" ng-model="editCtrl.draft.phone" ng-change="editCtrl.save()">
      <input name="email" ng-model="editCtrl.draft.email" ng-change="editCtrl.save()">
      <input id="schedule-search" type="search" placeholder="Search">
      <span id="result-count">0</span> results
      <button id="next" ng-click="editCtrl.next()">next</button>
      <button id="previous" ng-click="editCtrl.previous()">previous</button>
  </div>

  <div id="grid-sizing-container" cc-handsontable-container style="position:relative;">
    <div id="schedule-grid" style="overflow:scroll; visibility:hidden; padding-bottom:200px" class="handsontable"></div>
  </div>

    <span id="ruler" style="visibility:hidden; white-space: nowrap"></span>
</div>
