<div id="admin-header" class="outer" cc-admin-header ng-cloak></div>
  <div class="blah-background" cc-fill-height>
    <div ng-controller="EditCtrl as editCtrl">
      <div class="relative center"
          cg-busy="{promise:agencyCtrl2.agency_promise,templateUrl:'loading_msg.html',delay:30}"></div>
      <div id="admin-main" class="horizontal-center" >
        <div class="white-background py0" ncy-breadcrumb></div>
          <div>
            <select name="draftSelect"
                    class="navBarSelect"
                    ng-model="editCtrl.selected_dept"
                    ng-options="depts._id as depts.draft.department for depts in editCtrl.dept_list"
                    ng-change="editCtrl.populateGrid()">
            </select>
          </div>
          <div id="schedule-status">
            <div>Schedule Status:</div><span>{{editCtrl.draft.status}}</span>
          </div>

          <div id="action-group">
            <p class="horizontal-center p3 error-msg" ng-if="editCtrl.errorMsg != ''" ng-cloak>{{editCtrl.errorMsg}}</p>
            <p class="horizontal-center p3 info-msg" ng-if="editCtrl.draft.status == 'Locked' && !editCtrl.allow">If this schedule needs to be unlocked before it is published, please email <span class="bold">indextorecords@sfgov.org</span>.</p>
            <button ng-click="editCtrl.lock()" ng-disabled="editCtrl.draft.status != 'Edited'" >Lock</button>
            <button ng-click="editCtrl.tips()" ng-disabled="editCtrl.draft.status === 'Locked'">Add Recommendations</button>
            <a href="{{editCtrl.pdf_link}}" target="_blank" download>Generate PDF</a>
            <button ng-hide="!editCtrl.allow" ng-click="editCtrl.publish()"
                ng-disabled="editCtrl.draft.status != 'Locked'">Publish</button>
            <button ng-hide="!editCtrl.allow" ng-click="editCtrl.unlock()" ng-disabled="editCtrl.draft.status != 'Locked'">Unlock</button>
            <button ng-hide="!editCtrl.allow" ng-click="editCtrl.del()">Delete</button>
            <a href="#/agency/{{editCtrl._id}}" target="_blank">View Published</a>
          </div>
      </div>
      <div id="grid-background">
        <div id="department-info" class="clearfix horizontal-center">
        <form name="editCtrl.editDepartment" ng-submit="editCtrl.runValidation()" >
          <div class="dept-left">
              <input
                id="department"
                class="dept-input"
                name="department"
                ng-model="editCtrl.draft.department"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'Locked'"
                placeholder="Organization Name (required)"
                required="">
              <input
                id="website"
                name="website"
                class="dept-input"
                ng-model="editCtrl.draft.website"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'Locked'"
                placeholder="Organization Website (required)"
                required="">
              <label>Ratified on:</label>
              <p class="input-group">
                    <input id="ratified_on"
                    type="text"
                    show-weeks="false"
                    class="form-control"
                    datepicker-popup="MM/dd/yyyy"
                    ng-model="editCtrl.draft.ratified_on"
                    ng-change="editCtrl.save()"
                    ng-disabled="editCtrl.draft.status == 'Locked'"
                    is-open="editCtrl.opened"
                    datepicker-options="editCtrl.dateOptions"
                    date-disabled="disabled(date, mode)"
                    show-button-bar="false"
                    ng-required="true"
                    close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button"
                              class="btn btn-default"
                              ng-click="editCtrl.open($event)"
                              ng-disabled="editCtrl.draft.status == 'Locked'">
                              <i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
          </div>
          <div class="dept-right">
              <label>Department Contact:</label>
              <input
                name="contact"
                class="dept-input"
                ng-model="editCtrl.draft.contact"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'Locked'"
                placeholder="Contact Person (required)"
                required="">
              <input
                name="phone"
                class="dept-input"
                ng-model="editCtrl.draft.phone"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'Locked'"
                placeholder="Phone number (required)"
                required="">
              <input
                name="email"
                class="dept-input"
                ng-model="editCtrl.draft.email"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'Locked'"
                placeholder="Email">
            </div>
          </form>
        </div>
        <!-------------- ORIGINAL STICKY SEARCH AREA ------------ -->
        <div id="search-group"  sticky menu="true" class="sticky-menu">
          <div id="edit-status">
            <span ng-model="editCtrl.status">{{editCtrl.status}}</span>
          </div>
          <i id="status-spinner" class="fa fa-spinner fa-spin"></i>
          <div class="left">
            <input id="schedule-search" ng-model="editCtrl.searchValue"
                ng-change="editCtrl.run_search()" type="search" placeholder="Search">
            <span id="result-count">0</span><span>results</span>
          </div>
        </div>

        <!-------------- CLONED STICKY SEARCH AREA ------------ -->
        <div id="search-group" sticky clone="true" class="sticky-search-clone display-none">
          <div id="edit-status-clone">
            <span ng-model="editCtrl.status">{{editCtrl.status}}</span>
          </div>
          <i id="status-spinner-clone" class="fa fa-spinner fa-spin"></i>
          <div class="left">
            <input id="schedule-search-clone" ng-model="editCtrl.searchValue" ng-change="editCtrl.run_search()"
                type="search" placeholder="Search">
            <span id="result-count-clone">0</span><span>results</span>
          </div>
        </div>

      <span id="ruler" style="visibility:hidden; white-space: nowrap"></span>

      <div id="schedule-grid" class="handsontable horizontal-center"></div>
    <div>
  </div>
<div>
