<div id="admin-header" class="outer" cc-admin-header></div>
  <div class="blah-background" cc-fill-height>
    <div ng-controller="EditCtrl as editCtrl">
      <div class="relative center"
          cg-busy="{promise:agencyCtrl2.agency_promise,templateUrl:'loading_msg.html',delay:30}"></div>
      <div id="admin-main" class="horizontal-center" >
        <div id="edit-status" ng-model="editCtrl.status">{{editCtrl.status}}</div>
        <div class="white-background py0" ncy-breadcrumb></div>
          <div>
            <select name="draftSelect"
                    class="navBarSelect"
                    ng-model="editCtrl.selected_dept"
                    ng-options="depts._id as depts.draft.department for depts in editCtrl.dept_list"
                    ng-change="editCtrl.populateGrid()">
            </select>
          </div>
          <div id="schedule-status">
            <div>schedule status:</div><span>{{editCtrl.draft.status}}</span>
          </div>

          <div id="action-group">
            <span class="horizontal-center">{{editCtrl.errorMsg}}</span>
            <button ng-click="editCtrl.lock()" ng-disabled="editCtrl.draft.status != 'DIRTY'" >Lock</button>
            <button ng-click="editCtrl.tips()" ng-disabled="editCtrl.draft.status === 'LOCKED'">Add Recommendations</button>
            <a href="{{editCtrl.pdf_link}}" target="_blank" download>Generate PDF</a>
            <button ng-hide="!editCtrl.allow" ng-click="editCtrl.publish()"
                ng-disabled="editCtrl.draft.status != 'LOCKED'">Publish</button>
            <button ng-hide="!editCtrl.allow" ng-click="editCtrl.unlock()" ng-disabled="editCtrl.draft.status != 'LOCKED'">Unlock</button>
            <button ng-hide="!editCtrl.allow" ng-click="editCtrl.del()">Delete</button>
            <button ng-click="editCtrl.view_published()">View Published</button>
          </div>
      </div>
      <div id="grid-background">
        <div id="department-info" class="clearfix horizontal-center">
        <form name="editCtrl.editDepartment" ng-submit="editCtrl.runValidation()" >
          <div class="dept-left">
              <input
                id="department"
                class="dept-input"
                name="department"
                ng-model="editCtrl.draft.department"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'LOCKED'"
                placeholder="Organization Name (required)"
                required="">
              <input
                id="website"
                name="website"
                class="dept-input"
                ng-model="editCtrl.draft.website"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'LOCKED'"
                placeholder="Organization Website (required)"
                required="">
                <label>Ratified on:</label>
                <input
                  id="ratified_on"
                  name="ratified_on"
                  class="dept-input inline-block"
                  ng-model="editCtrl.draft.ratified_on"
                  ng-change="editCtrl.save()"
                  ng-disabled="editCtrl.draft.status == 'LOCKED'"
                  placeholder="Date schedule was ratified"
                  required="">
          </div>
          <div class="dept-right">
              <label>Department Contact:</label>
              <input
                name="contact"
                class="dept-input"
                ng-model="editCtrl.draft.contact"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'LOCKED'"
                placeholder="Contact Person (required)"
                required="">
              <input
                name="phone"
                class="dept-input"
                ng-model="editCtrl.draft.phone"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'LOCKED'"
                placeholder="Phone number (required)"
                required="">
              <input
                name="email"
                class="dept-input"
                ng-model="editCtrl.draft.email"
                ng-change="editCtrl.save()"
                ng-disabled="editCtrl.draft.status == 'LOCKED'"
                placeholder="Email">
            </div>
          </form>
        </div>

        <div id="search-group" sticky sticky-class="sticky-search" class="not-sticky">
            <input id="schedule-search" type="search" placeholder="Search">
          <div id="count-group">
            <div id="result-count">0</div><span>results</span>
            <a id="previous" href="#" ng-click="editCtrl.previous()"><i class="fa fa-caret-left"></i></a>
            <a id="next" href="#" ng-click="editCtrl.next()"><i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      <span id="ruler" style="visibility:hidden; white-space: nowrap"></span>

      <div id="schedule-grid" class="handsontable horizontal-center"></div>
    <div>
  </div>
<div>
