
  <div id="admin-header" class="outer" cc-admin-header></div>

    <div id="edit-page" class="container-fluid">
    <div id="admin-main" class="horizontal-center" ng-controller="TipPickerCtrl as tipPickerCtrl">
      <!-- <div id="tippicker-status" class="floating-status" ng-model="tipPickerCtrl.status">{{tipPickerCtrl.status}}
        <i class="fa fa-spinner fa-spin display-none"></i></div> -->
      <div id="tippicker-status">
        <span ng-model="tipPickerCtrl.status">{{tipPickerCtrl.status}}</span>
      </div>
      <i id="status-spinner" class="fa fa-spinner fa-spin off-side"></i>

      <div class="white-background py0" ncy-breadcrumb></div>
      <h3 class="mb3">Add template record(s) to <span class="bold">{{tipPickerCtrl.draft_dept_name}}</span> by selecting checkboxes</h3>
      <div id="search-group">
        <input id="tip-search" type="search" placeholder="Search">
	    </div>

      <div id="count-group">
        <div id="tip-count">0</div><span>results</span>
        <div id="action-group">
          <button ui-sref="edit">Return to Edit Page</button>
        </div>
      </div>

      <div id="tip-grid-sizing-container" cc-handsontable-container style="position:relative;">
        <div id="tip-picker-grid" style="overflow:scroll; visibility:hidden; padding-bottom:200px" class="handsontable">


		</div>
      </div>
      <span id="ruler" style="visibility:hidden; white-space: nowrap"></span>
    </div>
  </div>
